body {
    background-color: white;
    width: 100%;
    color: black;
    font-size: 20px;
}

.page-title {
    font-size: 70px;
    color: black;
    text-align: center;
}

.question{
    font-weight: 500;
    color: blue;
}
.answers{
    margin-bottom: 30px;
}

.button-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn {
    font-size: 25px;
    border-radius: 30px;
    background-color: gray;
    /* display: table; */
    /* margin: auto; */
}

.info-box{
    position: absolute;
    top: 20%;
    left: 50%;
    box-shadow: 4px 8px 0 black, black;
}

.submit{
    font-size: 25px;
    background-color: black;
    border-radius: 5px;
    padding: 10 px;

}

